<link rel="stylesheet" href="https://at.alicdn.com/t/font_588748_8klgjtxn6f7p66r.css">
<div class="container">
  <div class="user-details">
    <h3> Brief Introduction </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4><i class="iconfont icon-xueli"></i>  Education</h4>
      <p>Wuhan University<br>Quantitative Finance</p>
    </div>
    <div class="four columns">
      <h4><i class="iconfont icon-xcode"></i>  Skills</h4>
      <p>R<br>Matlab<br>LaTex</p>
    </div>
    <div class="four columns">
      <h4><i class="iconfont icon-yingyushuiping"></i>  English</h4>
      <p>CET-6 514</p>
    </div>
  </div>
</div>
